[Unit]
Description=Parser_bot
After=syslog.target
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/san/parser_bot
ExecStart=/home/san/parser_bot/venv/bin/python3 /home/san/parser_bot/bot.py
Environment=BOT_TOKEN=
User=san
KillMode=process
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target